@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;

   font-family: 'Poppins', sans-serif;

   box-sizing: border-box;
}

body {
   background-color: black;

   position: fixed;
}

.page {
   color: #FFFFFF;
}

.bottom-gradient {
   position: fixed;
   left: 0%;
   top: 20%;
   transform: translate(0, -5%);

   z-index: -1;
}

.top-gradient {
   position: fixed;
   left: 25%;
   top: 0%;
   transform: translate(-10%, 0);

   z-index: -1;
}

/* nav bar styled */
.navbar {
   display: flex;
   align-items: center;
}

.navbar a {
   text-decoration: none;
   border: none;
   color: #FFFFFF;
}

.features-btn {
   margin-left: 70rem;
   margin-top: 2.5rem;
   margin-right: 3.4375rem;

   font-size: larger;

   text-decoration: none;
   border: none;
   background: none;
   color: #FFFFFF;

   cursor: pointer;
}

.features-btn:hover {
   text-decoration: underline;
}

.about-btn {
   margin-top: 2.5rem;

   font-size: larger;

   text-decoration: none;
   border: none;
   background: none;
   color: #FFFFFF;

   cursor: pointer;
}

.about-btn:hover {
   text-decoration: underline;
}

.logo {
   font-family: Poppins;
   font-weight: 500;
   line-height: 1.47rem;
   font-size: 1.5rem;

   margin-top: 2.5rem;
   margin-left: 5rem;
}

/* stlying of features section */
.blur-box {
   opacity: 70%;

   position: fixed;
   left: 50%;
   top: 55%;
   transform: translate(-50%, -50%);
}

.content {
   z-index: 2;

   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.title {
   font-size: 2.875rem;
   text-align: center;
   font-weight: 500;
   margin-bottom: 2.8125rem;
   margin-top: 2.5rem;
}

.para {
   font-size: 1.875rem;
}

.para span {
   color: #DBFF00;
}