@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;

   font-family: 'Poppins', sans-serif;

   box-sizing: border-box;
}

body {
   background-color: black;

   position: fixed;
}

.page {
   color: #FFFFFF;
}

.bottom-gradient {
   position: fixed;
   left: 0%;
   top: 20%;
   transform: translate(0, -5%);

   z-index: -1;
}

.top-gradient {
   position: fixed;
   left: 25%;
   top: 0%;
   transform: translate(-10%, 0);

   z-index: -1;
}

/* nav bar styled */
.navbar {
   display: flex;
   align-items: center;
}

.features-btn {
   margin-left: 1120px;
   margin-top: 40px;
   margin-right: 55px;

   font-size: larger;

   text-decoration: none;
   border: none;
   background: none;
   color: #FFFFFF;

   cursor: pointer;
}

.features-btn:hover {
   text-decoration: underline;
}

.about-btn {
   margin-top: 40px;

   font-size: larger;

   text-decoration: none;
   border: none;
   background: none;
   color: #FFFFFF;

   cursor: pointer;
}

.about-btn:hover {
   text-decoration: underline;
}

.logo {
   font-family: Poppins;
   font-weight: 500;
   line-height: 23.52px;
   font-size: 24px;

   margin-top: 40px;
   margin-left: 80px;
}

/* mid page styling */
.mid-text {
   position: fixed;
   left: 50%;
   top: 30%;
   transform: translate(-50%, -50%);

}

.service-container {
   width: fit-content;
   height: 300px;

   text-align: center;

   position: fixed;
   left: 50%;
   top: 60%;
   transform: translate(-50%, -50%);
}

.service-container p {
   margin-top: 10px;
   font-size: 26px;
}

.service-container img:hover {
   border: 1px solid white;
   border-radius: 50%;
}